{% extends "layout.html" %}
{% block body %}
  <div class="container article-page">
    <div class="table-responsive">
      <h3>Извлеченные Данные</h3>
      <p>{{ url }}</p>
      <table class="table">
        <tbody>
          <tr>
            <td>Название</td>
            <td>{{ article.title }}</td>
          </tr>
          <tr>
            <td>Авторы</td>
            <td>{{ article.authors }}</td>
          </tr>
          <tr>
            <td>Текст</td>
            <td>{{ article.text }}</td>
          </tr>
          <tr>
            <td>Верхнее изображение</td>
            <td>
              <img src="{{ article.top_image }}"/>
              <p class="text-center"><a href="{{ article.top_image }}">{{ article.top_image }}</a></p>
            </td>
          </tr>
          <tr>
            <td>Фильмы (видео)</td>
            <td>{{ article.videos }}</td>
          </tr>
          <tr>
            <td>Ключевые слова (NLP)</td>
            <td>{{ article.keywords }}</td>
          </tr>
          <tr>
            <td>Сводка (NLP)</td>
            <td>{{ article.summary }}</td>
          </tr>
          <tr>
            <td>Статья HTML</td>
            <td>
              <pre>
                <code class="language-markup">
                  {{ article.html }}
                </code>
              </pre>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}